.mng-item {
	font-size: 115%;
}

.mng-item .columns-all {
	justify-content: flex-start;
}

.mng-item div {
	margin-bottom: 10px;
}

.mng-item label {
	width: 49%;
	display: block;
	text-align: right;
	margin-right: 2%;
}

.mng-item input {
	text-align: left;
	width: fit-content;
	max-width: 250px;
	height: 25px;
}

#add-item {
	width: 150px;
	font-size: 100%;
}

#remove-item {
	background-color: var(--color-important);
	width: 150px;
	margin-bottom: 20px;
	font-size: 100%;
}
